<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.demo.dao.NewsCommentMapper">
  <resultMap id="BaseResultMap" type="com.zyh.demo.entity.NewsComment">
    <id column="id" jdbcType="INTEGER" property="id" />
      <result column="newsid" jdbcType="INTEGER" property="newsid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, newsid, content, author, createdate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

  </select>
  <select id="findCommentById" resultType="com.zyh.demo.entity.NewsComment">
    select
    <include refid="Base_Column_List" />
    from news_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByNewsId" resultType="com.zyh.demo.entity.NewsComment">
    select
    <include refid="Base_Column_List" />
    from news_comment
    where newsid = #{newsid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zyh.demo.entity.NewsComment">
    insert into news_comment (id, newsid, content,
      author, createdate)
    values (#{id,jdbcType=INTEGER}, #{newsid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
      #{author,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyh.demo.entity.NewsComment">
    insert into news_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="newsid != null">
        newsid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="createDate != null">
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="newsid != null">
        #{newsid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyh.demo.entity.NewsComment">
    update news_comment
    <set>
      <if test="newsId != null">
        newsid = #{newsid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyh.demo.entity.NewsComment">
    update news_comment
    set newsid = #{newsid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="save"></update>
</mapper>